.logo-header{
    margin-top: 80px;
    padding-left: 20%;
    .logo-header-cursor {
        cursor: pointer;
    }
}

.profile-header {
    padding-right: 20%;
    align-self: center;
    text-align: end;
    margin-top: 80px;
}

.avatar-header {
    margin-left: 36px;
    cursor: pointer;
}


