.logo-header{
    margin-top: 80px;
    padding-left: 20%;
    .logo-header-cursor {
        cursor: pointer;
    }
}

.profile-header {
    padding-left: 80px;
    align-self: center;
    text-align: end;
    margin-top: 80px;
    position: relative;
    display: flex;
    .cart-header {
        cursor: pointer;
        position: relative;
        top: 10px;
        margin-right: 26px;
    }
    .notif {
        position: absolute;
        color: #FFF;
        background-color: red;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        top: 16%;
        padding-right: 6px;
        left: 16%;
    }
    .avatar-header {
        margin-left: 0px;
        cursor: pointer;
    }
}






